<h1>Search Partial</h1>

<form action="/partials/results" method="GET">
   <label>Job Description: <input type="text" placeholder="python" name="jobDescription"></label>
   <label>Location: <input type="text" placeholder="San Francisco" name="jobLocation"></label>
   <input type="submit">
</form>